{% extends "layout.html" %}
{% block content %}
	<h1>About Page</h1>
    <img src="{{ url_for('static', filename='poster.jpeg') }}" style="float: left; width: 100%; margin-right: 5%; margin-bottom: 0.5em;">
    <p> Hi! This is the official poster for our group btw, if you're an orbital evaluator!</p>
    <p>The IOT Inspector will be ran from the command line, but all the output from the inspector will be reflected on the non-public facing website</p>
    <p>The final Dashboard presented will contain features such as:</p>
    <ul>
    	<li>Running a scan on the home network to see which IOT devices are connected</li>
		<li>The Dashboard will try to use the Mac Address and various scripts to recognise the IOT device</li>
		<li>User can assign a name their IOT devices</li>
		<li>User can select to monitor their IOT devices</li>
		<li>Traffic of the monitored IOT devices will be displayed as graphs</li>
		<li>Graphs can be exported to be uploaded to the forum on the public facing web app</li>
	</ul>
{% endblock content %}