{% extends "layout.html" %}
{% block content %}

<h1>Download Page</h1>
<p>Welcome to our orbital project IOT by the BackEndBoyz</p>
<p>Download the app here!</p>
<p>Choose the distribution you are using and the download will begin</p>

<a href=downloads/hi.cpp>
  <img src="{{ url_for('static', filename='apple-logo.png') }}" style="float: left; width: 30%; margin-right: 5%; margin-bottom: 0.5em;">
</a>

<a href=downloads/hi.cpp>
  <img src="{{ url_for('static', filename='linux-logo.png') }}" style="float: center; width: 30%; margin-left: 5%;margin-right: 1%; margin-bottom: 0.5em;">
</a>
{% endblock content %}