{% extends "layout.html" %}
{% block content %}
  <h1>Start Scanning</h1>
  <p> Scanning will take approximately 1 minute. Please brew some tea in the process </p>
  <a role = "button"  class="btn btn-primary" href="{{ url_for('start_scan') }}">Begin Scan</a>
  <h1> Previously Scanned Devices </h1> 
  {% for k,v in scan_data.items() %}
  <article class="media content-section">
    <h3> Device Number {{ k }} </h3> 
    <p> IP of Device {{ k }} is {{ scan_data[k]["IP"] }} </p>
    <p> MAC of Device {{ k }} is {{ scan_data[k]["Mac"] }} </p>
    <div class="media-body">
    <p> Manufacturer of Device {{ k }} is {{ scan_data[k]["Company"] }} </p>
    </div>
  </article>
  {% endfor %}


{% endblock content %}
