{% extends "layout.html" %}
{% block content %}
<h1>Home Page</h1> 
<h2> Welcome to Nosy's Dashboard! </h2>
<p> Welcome to Nosy, your personal home network IOT scanner and network monitor </p>
<p> Please proceed to <b> Instructions </b> tab to view the steps to use Nosy
</p>
<h2> Summary of Nosy's Features </h2>
<ul style="list-style-type: circle;">
  <li> Discover All - This scans for all devices connected to home network </li>
  <li> Scan IOT - This scans for all IOT devices connected to home network </li>
  <li> Display Network Traffic - Displays the last scanned network traffic </li>
  <li> Scan Network Traffic - Scan for network traffic of current home network and displays traffic on graph </li>
  <li> Display Network Traffic - Displays the last scanned network traffic </li>
</ul>
{% endblock content %}
