{% extends "layout.html" %}
{% block content %}
  <h1>Start Scanning!</h1>
  <h3> Scanning will take approximately 1 minute. Please brew some tea in the process </h3>
  <a role = "button"  class="btn btn-primary" href="{{ url_for('start_scan') }}">Begin Scan</a>
  <br> </br>
  <h2> Previously Scanned Devices </h2>
  {% for k,v in scan_data.items() %}
   <article class="media content-section">
    <div class ="media-body">
        <div class = "article-metadata">
          <p> Scanned IP of Device is {{ scan_data[k]["IP"] }} </p>
          <p> Scanned MAC of Device is {{ scan_data[k]["Mac"] }} </p>
          <p> Manufacturer of Device is {{scan_data[k]["Company"] }} </p>
        </div>
      </div>
    </article>
  {% endfor %}
{% endblock content %}
