{% extends "layout.html" %}
{% block content %}
<h1> Instructions for Network Traffic Scanning </h1>
<h3> As the network traffic scanning will be done using a command line interface, here are some instructions to guide you through the process </h3>
<ul style="list-style-type: circle;">
  <li> Do not be afraid of the command line interface, take it as just another application </li> 
  <li> Firstly, navigate to Nosy package you have just downloaded </li> 
  <li> Enter "cd" once first to change to root directory </li> 
  <li> Enter "ls" to list existing folders.
  <li> Enter "cd Downloads" to proceed to Downloads folder. If you have saved Nosy in another folder navigate using "cd [Folder_Name]" to that folder </li>
  <li> Proceed to Nosy by entering "cd Nosy" </li>
  <li> To proceed with the network scan, enter "./sniff.sh" </li>
  <li> Follow instructions on the command line interface accordingly </li> 
</ul>

{% endblock content %}
